
body {

    display: flex;
    justify-content: center;
    margin: 0;
}


#canvas {

    position: relative;
    top: 25vh;
    left: -7vw;
}

#score {
position: relative;
width: 11vw;
height: 3vh;
top: 15vh;
left: 19vw;
border: 3px solid green;
padding: 0.5vh 0.25vh;
text-align: left;
font-size: 1.4vw;
font-weight: bold;

  
}
